<h1>Edit a User</h1>

<% if flash[:errors] %>
  <% flash[:errors].map do |error| %>
      <p><%= error %></p>
  <% end %>
<% end %>

<%
=begin%>
 <%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit "Edit User" %>
<% end %> 
<%
=end%>
<%= form_for @user, :html => {:class => 'ui form'} do |f| %>
  <div class = "field">
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  </div>
  <div class = "field">
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  </div>
  <div class = "field">
  <%= f.label :password %>
  <%= f.password_field :password, placeholder: "•••••" %><br>
  </div>
  <%= f.submit "Edit User", class:"ui button"  %>
<% end %>
<br>
<%= button_to "Back", user_path(@user), method: "get", class:"ui button" %>