
<h1><%= @user.name %></h1>

<%= form_tag(search_user_path, method: "post") do %>
  <p>Search User by Email:
  <%= text_field_tag :email %>
  <%= submit_tag 'Search', name: nil %></p>
<% end %>

<%= form_tag filter_path, method: "get" do%>
    <%=label_tag :band%>
    <%=text_field_tag :band, @filter.band%>
    <%=label_tag :location%>
    <%=text_field_tag :location, @filter.location%>
    <%=label_tag :date%>
    <%=date_field_tag :date, @filter.date%>
    <%=label_tag :rating%>
    <%=number_field_tag :rating, @filter.rating%>
    <%=label_tag :favorite%>
    <%=check_box_tag :favorite, nil, checked = (@filter.favorite)%>
    <%=hidden_field_tag :user, @user.id%><br>
    <%=submit_tag "Filter"%>
<%end%>
<%=(button_to  "Unfilter", user_path(@user), method: "get") unless @filter.hide_unfilter%>

<ul>
    <% @shows.each do |s| %>
    <li><%= link_to s.concert.display, user_concert_path(s)%></li>
    <% end %>
</ul>

<%= button_to "Add a new Show", new_user_concert_path, method: 'get' %>

<footer>
    <%= button_to "Edit User", edit_user_path(@user), method: 'get' %>
    <%= button_to  "Delete Account", user_path(@user), method: 'delete' %>
    <%= button_to  "Log Out", logout_path, method: 'delete' %>
</footer>