<h1>Edit Concert</h1>

<% if flash[:errors] %>
  <% flash[:errors].map do |error| %>
      <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @user_concert, url: {action: "update"} do |f| %>
  <%= f.collection_select :concert_id, @concerts, :id, :display %><br>
  <%= f.label :rating %>
  <%= f.number_field :rating %><br>
  <%= f.label :favorite_song %>
  <%= f.text_field :favorite_song %><br>
  <%= f.label :favorite %>
  <%= f.check_box :favorite %><br>
  <%= f.submit "Edit Music Memo" %>
<% end %>

<%= button_to "Delete Music Memo", user_concert_path(@user_concert), method: "delete" %>